In [1]:
import pandas as pd
import plotly.express as px

In [2]:
en_traffic = pd.read_csv("../data/en.csv", parse_dates=["timestamp"])
en_traffic

                 timestamp language code access_method agent_type    views
0      2016-01-01 00:00:00  English   en       Desktop       User  3916717
1      2016-01-01 00:00:00  English   en       Desktop     Spider  1414233
2      2016-01-01 00:00:00  English   en    Mobile App       User   179328
3      2016-01-01 00:00:00  English   en    Mobile Web       User  5409573
4      2016-01-01 00:00:00  English   en    Mobile Web     Spider   110723
...                    ...      ...  ...           ...        ...      ...
543710 2024-12-31 23:00:00  English   en    Mobile App       User   372996
543711 2024-12-31 23:00:00  English   en    Mobile App  Automated     1126
543712 2024-12-31 23:00:00  English   en    Mobile Web       User  8361965
543713 2024-12-31 23:00:00  English   en    Mobile Web     Spider   412297
543714 2024-12-31 23:00:00  English   en    Mobile Web  Automated   178411

[543715 rows x 6 columns]

In [4]:
en_mobileweb_user = en_traffic.query(("access_method == 'Mobile Web' and agent_type == 'User'"))
en_mobileweb_user

                 timestamp language code access_method agent_type    views
3      2016-01-01 00:00:00  English   en    Mobile Web       User  5409573
8      2016-01-01 01:00:00  English   en    Mobile Web       User  5311765
13     2016-01-01 02:00:00  English   en    Mobile Web       User  5277241
18     2016-01-01 03:00:00  English   en    Mobile Web       User  5414558
23     2016-01-01 04:00:00  English   en    Mobile Web       User  5246544
...                    ...      ...  ...           ...        ...      ...
543680 2024-12-31 19:00:00  English   en    Mobile Web       User  7657146
543688 2024-12-31 20:00:00  English   en    Mobile Web       User  7842089
543696 2024-12-31 21:00:00  English   en    Mobile Web       User  7862107
543704 2024-12-31 22:00:00  English   en    Mobile Web       User  7902443
543712 2024-12-31 23:00:00  English   en    Mobile Web       User  8361965

[78903 rows x 6 columns]